{% extends "base.html" %}

{% block title %}StudyPlannr{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="hero-unit">
  <h1>StudyPlannr</h1>
  <p>Create and follow study schedules to help keep you on track.</p>
  <p><a class="btn primary large" href="/schedules">Get started using your Google Account &raquo;</a></p>
</div>

<div class="row">
  <div class="span-one-third">
	<h2>Organization</h2>
	<p>Planning your studying ahead of times makes sure you don't fall behind. No more last-minute cramming or forgetting to cover every topic.</p>
	<p><a class="btn" href="/schedules">Try it now &raquo;</a></p>
  </div>
  <div class="span-one-third">
	<h2>Easy to use</h2>
	 <p>StudyPlannr is extremely simple to use. Just enter the start time, end time and the subjects to study. Reallocating time requires only one click.</p>
	 <p>StudyPlannr uses your Google Account to login so you don't have to remember any more passwords.</p>
	<p><a class="btn" href="/schedules">See Examples &raquo;</a></p>
 </div>
  <div class="span-one-third">
	<h2>Mobile</h2>
	<p>Stay on-schedule with StudyPlannr's new app for iPhone, iPod Touch and iPad.</p>
	<p><a class="btn" href="/schedules">App Store &raquo;</a></p>
  </div>
</div>

{% endblock %}