<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

	{% if not is_loggedin %}
	    <a href="{{ login_link }}">Login</a>
    {% else %}
        {% for s in schedules %}
    		<div>Schedule: {{ s.name|escape }}
    			<a href="/schedule/{{ s.key }}">Edit</a>
    		</div>
	    {% endfor %}
		<form action="/add_schedule" method="post">
			<div><input type="text" name="name" ></input></div>
			<div><input type="submit" value="Add Schedule"></input></div>
		</form>
		<a href="{{ logout_link }}">Logout</a>
    {% endif %}

  </body>
</html>