{% extends "base.html" %}

{% block title %}StudyPlannr - Edit Schedule{% endblock %}

{% block head %}
<script type="application/javascript" src="/scripts/jquery.jeditable.mini.js"></script>
<script type="application/javascript" src="/scripts/jquery-ui.custom.min.js"></script>
<script type="application/javascript" src="/scripts/jquery.ui.timepicker.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/smoothness/jquery-ui-1.8.16.custom.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-timepicker.css" />
<script type="application/javascript" src="/scripts/schedule_scripts.js"></script>
<script type="text/javascript">
	var scheduleKey = '{{ schedule.key }}';
</script>
{% endblock %}

{% block content %}
<div id="error-box">Error Box</div>

<h2>{{ schedule.name }}</h2>

<div class="row">

	<div class="span4" style="height: 30em;">	
		{% for i in items %}
			<div id="item-row-{{i.key}}" style="height: {{ i.pct }}%;">
				<div class="color-bar-{{forloop.counter}} {%if forloop.last%}color-bar-last{%endif%}" 
				     style="background-color: {{ i.get_color }};">
					&nbsp;
				</div>
				<div style="float: left; margin-left: 5px;">
					<div id="item-start-time-{{i.key}}" class="start-time">{{ i.start_time }}</div>
					<div id="subject-name-{{i.key}}" data-key="{{i.key}}"><strong>{{ i.name|escape }}</strong></div>
					<div class="subject-links">
						<a class="item-more-link" href="/schedule/{{schedule.key}}/{{i.key}}/more">More</a>
						<a class="item-less-link" href="/schedule/{{schedule.key}}/{{i.key}}/less">Less</a>
						<a class="item-remove-link" href="/schedule/{{schedule.key}}/{{i.key}}/remove">Remove</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="span2">
			<div id="items-end-time" class="start-time" style="margin-left: 5px">
			{{ end_time }}
			</div>
		</div>
	</div>

	<div class="span10 offset2">
		<form id="add-item-container" action="/schedule/{{ schedule.key }}/add" method="post">
			<label for="add-item-name">Add Subject:</label>
			<input type="text" id="add-item-name" name="name" class="name-textbox"></input>
			<input type="submit" id="add-item-button" value="Add"></input>
		</form>

		<br />

		<div id="options-container">
			<div>
				<input type="checkbox" id="check-enable-breaks" name="enable-breaks" class="options-checkbox"></input>
				<label for="check-enable-breaks">Enable breaks between subjects.</label>
			</div>

			<div>
				<input type="checkbox" id="check-enable-notifications" name="enable-notifications" class="options-checkbox"></input>
				<label for="check-enable-notifications">Enable desktop notifications when it's time to change subjects.</label>
			</div>
		
			<br />
		
			<form id="edit-times-container" action="/schedule/{{ schedule.key }}/edit" method="post">
				<div style="padding: .2em;">
					<label for="start-time-picker">Start time:</label>
					<input type="text" name="start-time-picker" id="start-time-picker" value="{{ start_time }}" />
				</div>
				<div style="padding: .2em;">
					<label for="end-time-picker">End time:</label>
					<input type="text" name="end-time-picker" id="end-time-picker" value="{{ end_time }}" />
				</div>
			</form>
		</div>

		<br />
	</div>

</div>
{% endblock %}