{% extends "base.html" %}

{% block title %}StudyPlannr{% endblock %}

{% block head %}
<script type="application/javascript" src="/scripts/jquery.jeditable.min.js"></script>
{% endblock %}

{% block content %}
<script>
	$(document).ready(function() {
		{% for s in schedules %}
		$('#{{s.key}}').editable('/schedule/{{ s.key }}/edit', {
			tooltip		: 'Click to change schedule name.',
			indicator	: '<span class="schedule-name-loading-placeholder"><img src="/images/ajax-loader.gif"></span>',
			cssclass	: 'schedule-name-editing',
			onblur		: 'submit',
			height		: 'none',
			width		: 'none',
			name 		: 'name',
		});
		{% endfor %}
	});	 
</script>

<div class="row">
	<div class="span12">
		<form action="/add_schedule" method="post">
			<fieldset>
				<label for="add-schedule-name">Add Schedule:</label>
				<div class="input">
					<input type="text" name="name" id="add-schedule-name" class="name-textbox"></input>
					<input type="submit" value="Add" id="add-schedule-button" class="btn primary"></input>
				</div>
			</fieldset>
		</form>
	</div>
</div><!-- /row -->

<br />

<div class="row">
	<div class="span12">
		{% for s in schedules %}
		<div class="span12">
			<ul class="schedule-list">
				<li>
					<strong><div class="schedule-name" id="{{s.key}}">{{ s.name|escape }}</div></strong>
					<div>Created on {{ s.date|date }} - {{ s.get_NumSubjects }} subjects</div>
					<form style="display:span;" action="/schedule/{{ s.key }}/remove" method="post">
						<a href="/schedule/{{ s.key }}" class="btn btn-small" style="vertical-align:top;">Edit</a>
						<a href="/schedule/{{ s.key }}" class="btn  btn-small" style="vertical-align:top;">Follow</a>
						<input class="btn btn-small" type="submit" value="Remove" style="vertical-align:top;"></input>
					</form>
				</li>
			</ul>
		</div>
		{% empty %}
		<div>
			<h2>You don't have any schedules yet. Add one below to get started.</h2>
		</div>
		{% endfor %}
	</div>
</div><!-- /row -->

{% endblock %}
