@font-face {
	font-family: Prociono;
	src: url('/stylesheets/prociono/Prociono.otf');
}
@font-face {
	font-family: Junction;
	src: url('/stylesheets/junction/Junction 02.otf');
}

* {
	margin: 0;
	padding: 0;
	color: black;
}

a {
	color: #0000FF;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  /*background-color: #DDDDDD;*/
  background-color:  white;
  font-size: 100%;
}

.clearer {
	clear: both;
}

a.logo-link {
	color: black;
	text-decoration: none;
	font-family: Prociono, Arial;
	font-size: 200%;
}
a.logo-link:hover {
	text-decoration: underline;
	color: #0000FF;
}


#header-bar {

}
#header-bar-right {
	font-size: 66%;
	float: right;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
}

h3 {
	margin: 1em;
}

.schedule-name {
	border: 1px solid transparent;
	height: 1.2em;
}
.schedule-name-editing {
    height: 1.2em;
}
.schedule-name-loading-placeholder {
    height: 1.2em;
}
.schedule-name:hover, .subject-name:hover {
    background-color: #FFF569;
    border: 1px dotted #888888;
}

div.bar-container {
	height: 40em;
	margin-left: 1em;
	margin-top: 1em;
}

div.item-row {
	padding-top: 1px;
}

.subject-name {
    font-weight: bold;
    width: 15em;
	height: 1em;
    border: 1px solid transparent;
}
.subject-name-editing {
    width: 15em;
}
.subject-name-loading-placeholder {
    width: 15em;
    height: 1em;
}


.subject-links {
    font-size: x-small;
}
div.item-text {
	float: left;
	margin-left: 5px;
}

div.start-time {
	position: relative;
	top: -.5em;
}

div.color-bar {
	width: 2em;
	float: left;
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#add-schedule-container,
#add-item-container {
	/*clear: both;*/
}

#add-schedule-container label,
#add-item-container label {
	font-weight: bold;
}
.name-textbox {
	border: 1px solid #888888;
	background: white;
	padding: .25em;
	width: 15em;
}
#add-item-container {
	/*width: 40em;*/
}
#add-item-button {
	width: 3em;
}

.schedule-list {
	margin-left: 2em;
	list-style-type: none;
}
.schedule-list li {
	margin: .5em;
}

.link-form {
	display: inline;
}
.link-button {
	border: none;
	color: blue;
	background: transparent;
	color: #0000FF;
	text-decoration: underline;
	cursor: hand;
	font-size: 100%;
}

#columns-container {
	width: 40em;
}
#right-container {
	border: solid 1px #DDDDDD;
	width: auto;
	margin-left: 50%;
	padding: 1em;
}
#left-container {
	float: left;
	width: 50%;
}

#options-container {
	font-size: 75%;
	padding: .5em;
}