/* General */
@font-face {
	font-family: Prociono;
	src: url('/stylesheets/prociono/Prociono.otf');
}
@font-face {
	font-family: Junction;
	src: url('/stylesheets/junction/Junction 02.otf');
}

* {
	margin: 0;
	padding: 0;
	color: black;
}

a {
	color: #0000FF;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  font-size: 100%;
}

#page-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
    background-color: #FFFFFF;
    width: 960px;
}

.clearer {
	clear: both;
}

/* Shared Header */
a.logo-link {
	color: black;
	text-decoration: none;
	font-family: Prociono, Arial;
	font-size: 200%;
}
a.logo-link:hover {
	text-decoration: underline;
	color: #0000FF;
}

#header-bar {
    background-color: #DCF900;
    padding: .2em;
}
#header-bar-right {
	font-size: 66%;
	float: right;
}

/* Schedule details page */

h3 {
	margin: 1em;
}

.schedule-name {
	border: 1px solid transparent;
	height: 1.2em;
}
.schedule-name-editing {
    height: 1.2em;
}
.schedule-name-loading-placeholder {
    height: 1.2em;
}
.schedule-name:hover, .subject-name:hover {
    background-color: #FFF569;
    border: 1px dotted #888888;
}

div.bar-container {
	height: 40em;
	margin-left: 1em;
	margin-top: 1em;
}

div.item-row {
	padding-top: 1px;
}

.subject-name {
    font-weight: bold;
    width: 15em;
	height: 1em;
    border: 1px solid transparent;
}
.subject-name-editing {
    width: 15em;
}
.subject-name-loading-placeholder {
    width: 15em;
    height: 1em;
}


.subject-links {
    font-size: x-small;
}
div.item-text {
	float: left;
	margin-left: 5px;
}

div.start-time {
	position: relative;
	top: -.5em;
}

div.color-bar, div.color-bar-last {
	width: 2em;
	float: left;
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}
div.color-bar-last {
    border-bottom: 1px solid black;
}

#add-schedule-container,
#add-item-container {
	/*clear: both;*/
	margin: .5em;
}

#add-schedule-container label,
#add-item-container label {
	font-weight: normal;
}
.name-textbox {
	border: 1px solid #888888;
	background: white;
	padding: .25em;
	width: 15em;
}
#add-item-container {
	/*width: 40em;*/
}
#add-item-button {
	width: 3em;
}

.schedule-list {
	margin-left: 2em;
	list-style-type: none;
}
.schedule-list li {
	margin: .5em;
}

.link-form {
	display: inline;
}
.link-button {
	border: none;
	color: blue;
	background: transparent;
	color: #0000FF;
	text-decoration: underline;
	cursor: hand;
	font-size: 100%;
}

#columns-container {
	width: 100%;
}
#right-container {
	border: solid 1px #DDDDDD;
	width: auto;
	margin-left: 45%;
	margin-right: 2em;
	padding: 1em;
}
#left-container {
	float: left;
	width: 50%;
}

#options-container {
	font-size: 75%;
	padding: .5em;
}

/* Main page */

.schedule-buttons {
    font-size: 75%;
}
.schedule-details {
    font-size: 75%;
    color: #AAAAAA;
}

#welcome-pane-left {
    padding: .2em; 
    float: left;
    width: 70%;
    font-size: 200%;
	font-family: Prociono, Arial;	
	padding: 1em;
}
#welcome-pane-right { 
    padding: .2em;
    margin-left: 70%;
}

#login-button {
	font-size: 125%;
    text-align: center;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding: .5 em;

    border: 2px solid #8F04A8;
    border-radius: .2em;
    -moz-border-radius: .2em;

    background: #A77DAE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B997BE', endColorstr='#86648B');
	background: -webkit-gradient(linear, left top, left bottom, from(#B997BE), to(#86648B));
	background: -moz-linear-gradient(top,  #B997BE,  #86648B);
}
.login-button-link {
    color: black;
    text-decoration: none;
}











